@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$enable-negative-margins: true;
$display-font-family: 'IBM Plex Mono', monospace;
$display-font-weight: 600;
$font-family-base: 'JetBrains Mono', monospace;
@import "../bootstrap/scss/bootstrap";

body {
  height: 100vh;
}

.canvas-spacer {
  min-height: 425px;
}

.center-canvas {
  margin-top: -350px;
}

$make-big: scale(2);

.font-huge {
  transform: $make-big;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.nametag {
  position: relative;
  text-align: left;
  align-self: left;
  transform: translate(-240px, -140px) rotate(-90deg);
}

.typed-text {
  min-height: calc(1.825rem + 0.9vw);
}

@media (min-width:600) {
  .typed-text {
    margin-top: 25px;
  }
}

@media (min-width: 1200px) {
  .typed-text {
    min-height: 2.5rem;
  }
}

$primary: #001199;

[data-bs-theme="light"] {
  --bs-body-color: black;
  --bs-body-bg: #f2d87a;
}

[data-bs-theme="dark"] {
  --bs-body-color: #ffffff;
  --bs-body-bg: #181f14;
}
